* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  text-align: center;
  background-color: #0b3d91;
  color: white;
}

header h1 {
  margin: 2.5vh 0 5px 0;
}

main {
  flex-grow: 1;
  background-size: 800% 800%;
  background-image: linear-gradient(
    -45deg,
    #ff0000 0%,
    #ffcc00 15%,
    #ffff00 30%,
    #ffcc00 45%,
    #ff0000 60%,
    #ffcc00 75%,
    #ffff00 90%,
    #ffcc00 100%
  );
  -webkit-animation: AnimateBG 10s linear infinite;
  animation: AnimateBG 10s linear infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 0 20px 10px rgba(255, 204, 0, 0.5);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 0 20px 10px rgba(255, 204, 0, 0.5);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
  }
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  height: 5vh;
  background-color: #0b3d91;
}

.limitor {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  max-width: 1000px;
  padding: 0 10px;
}

.controls {
  width: 80%;
  height: 3em;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  background-color: #808080;
  border-radius: 5px;
}

button {
  margin: 10px;
  width: 20%;
  height: 50%;
  border-radius: 5px;
  border: solid black;
  background-color: #0b3d91;
  color: white;
}

.fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.field {
  background-color: rgb(255, 255, 255);
  width: max(30vw, 400px);
  height: max(30vw, 400px);
  border: black solid;
  margin: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}

.cell {
  border: 1px solid black;
  width: calc(10% - 2px);
  height: calc(10% - 2px);
  float: left;
  background-image: url(images/backgrounds.svg);
  background-size: 500% 400%;
}

.water {
  background-color: lightblue;
  background-position: -100% 0;
}

.left {
  background-color: lightblue;
  background-position: 0% -100%;
}

.horizontal {
  background-color: lightblue;
  background-position: -100% -100%;
}

.right {
  background-color: lightblue;
  background-position: -200% -100%;
}

table {
  text-align: left;
  margin: 20px auto;
}

th,
td {
  /*border: 1px solid black;*/
  padding: 5px;
}

thead {
  font-weight: 600;
}

#computerfield td:first-child,
#computerfield table td:nth-child(5) {
  text-align: center;
}

.h,
.v {
  width: 32px;
  height: 32px;
  background-image: url(images/backgrounds.svg);
  background-size: 500% 400%;
}

.battleship.h {
  background-position-x: 0;
  background-position-y: 200%;
}

.battleship.v {
  background-position-x: 0;
  background-position-y: 100%;
}

.cruiser.h {
  background-position-x: -100%;
  background-position-y: 200%;
}

.cruiser.v {
  background-position-x: -100%;
  background-position-y: 100%;
}

.destroyer.h {
  background-position-x: -200%;
  background-position-y: 200%;
}

.destroyer.v {
  background-position-x: -200%;
  background-position-y: 100%;
}

.submarine.h {
  background-position-x: -300%;
  background-position-y: 200%;
}

.submarine.v {
  background-position-x: -300%;
  background-position-y: 100%;
}

.selectable:hover {
  background-color: orange;
}
